body {
    /*  background: linear-gradient(to right, #3b82f6, #06b6d4); */
  background: url('../images/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}
/* Landing Page Container */
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  gap: 40px;
  flex-wrap: wrap;
}

/* Text Content Section */
.text-content {
  flex: 1;
  min-width: 300px;
  color: white;
  text-align: left;
  margin-left: -50px;    
  margin-right: 15px;  
  position: relative;
  top: -130px;        
}

/* Heading Style */
.frontpage h1 {
  font-size: 3.5rem;      
  margin-bottom: 20px;
  padding-top: 200px; 
  position: relative;  
  left: -30px;         
  white-space: nowrap;
  animation: fadeInUp 1s ease-out forwards;
  font-family: 'DynaPuff', cursive;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Paragraph Style */
.frontpage p {
  font-size: 1.06rem;
  margin-bottom: 40px;
  padding-bottom: 2px;
  margin-left: -30px; 
  font-family: 'Lexend', sans-serif;
  line-height: 1.6;
}

/* Call to Action Button */
.cta-button {
  background-color: white;
  color: #3b82f6;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative; 
  left: -30px;     
}

.cta-button:hover {
  background-color: #3b82f6;
  color: white;
}

/* Header Image Style */
.header-image {
  flex: 1;
  max-width: 700px;
  height: auto;
  left: 150px;
  position: relative;
  top: 10px;
  width: 750px;
  height: 750px;
  border-radius: 10%;
  object-fit: cover;
  margin: 0 auto;
  display: block;

  animation: slideIn 2s ease-out forwards;
  opacity: 0; 
}
@keyframes slideIn {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

